.container {
    display: flex;       /* Flexbox를 활성화 */
    align-items: flex-start; /* 자식 요소들을 컨테이너의 상단에 정렬 */
    gap: 10px;           /* 요소 사이의 간격 설정 */
  }
  
  
  .input-content{
    border: 3px solid  #f3f2f2;
    background-color: #f3f2f2;
    text-align: center;
    width: 400px;
    height: 450px;

    margin-top: 30px;

    
    flex-shrink: 0;
    fill: #FFF;
    stroke-width: 3px;
    stroke: #e0dede;
    opacity: var(--sds-size-stroke-border);
    filter: drop-shadow(0px 0px 7px rgba(153, 153, 153, 0.25)); 
    margin-left: 30px; /* 왼쪽 마진 추가 */
    border-radius: 15px; /* 테두리를 둥글게 */

    font-family: 'UhBeejung', sans-serif; /* 폰트 패밀리에 'UhBeejung' 추가 */
    font-size: 26px; /* 폰트 크기 설정 */
    color: #333; /* 입력 텍스트 색상 */

    overflow-y: auto;
}

/* 내용을 입력하세요 문구  */
.input-content::placeholder {
    color: #aaa; /* 플레이스홀더 텍스트 색상 */
    font-style: italic; /* 플레이스홀더 텍스트 스타일 */
}



/* 클릭시 색상 */
.input-content:focus {
    border-color: #d9d8d8; /* 포커스 상태일 때 테두리 색상 변경 */
    outline: none; /* 기본 브라우저 아웃라인 제거 */
}



.image-box{
    display: flex;
    margin-top: 30px;
    
}

.input-file-box{

    position: relative;

   
    


    border: 5px solid #FFEFCC;
    text-align: center;

    width: 400px;
    height: 450px;


    flex-shrink: 0;
    fill: #FFF;
    stroke-width: 3px;
    stroke: #FFEFCC;
    opacity: var(--sds-size-stroke-border);
    filter: drop-shadow(0px 0px 7px rgba(153, 153, 153, 0.25)); 
    margin-left: 40px; /* 왼쪽 마진 추가 */
    border-radius: 15px; /* 테두리를 둥글게 */

 
}

.input-file-box img {
    width: 100%;   /* 이미지 너비 */
    height: 100%;  /* 이미지 높이 */
    object-fit: cover; /* 이미지 비율 유지하며 박스 채움 */
    position: absolute;
    top: 0;
    left: 0;
  }

.input-file-box span {
    font-size: 76px; /* 폰트 크기 키우기 */
    color: #FFEFCC; /* 폰트 색상 지정 (오렌지색) */
    cursor: pointer; /* 마우스 오버 시 커서 변경 */  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; /* 확실히 이미지 위에 오도록 z-index 설정 */

}


/* 날짜 */
input[type="date"] {
    font-family: 'UhBeejung', sans-serif; /* 폰트 패밀리에 'UhBeejung' 추가 */

  }
