.feature-box {
  position: relative;
  width: 911px;
  height: 576px;
  border-radius: 20px;
  flex-shrink: 0;
  background: #fff;
  overflow-x: hidden; /* 가로 스크롤만 방지 */
}
.photos-container {
  display: flex;
  flex-wrap: wrap;          /* 여러 줄로 감싸도록 설정 */
  justify-content: center;  /* 내용을 중앙에 배치 */
  align-items: flex-start;  /* 수직 방향으로 아이템을 시작 위치에 정렬 */
  max-height: 390px;        /* 스크롤이 발생하기 전 최대 높이 */
  overflow-y: auto;         /* 세로 스크롤 활성화 */
  overflow-x: hidden;       /* 가로 스크롤 비활성화 */
  width: 100%;              /* 부모의 전체 너비를 차지하도록 설정 */
}

.photo-container {
  display: flex;            /* Flexbox 레이아웃 활성화 */
  flex-direction: column;   /* 수직 방향으로 정렬 */
  align-items: center;      /* 수평 방향으로 중앙에 배치 */
  
  margin: 20px;             /* 모든 방향에 20px 간격 추가 */
  box-sizing: border-box;   /* 패딩과 테두리를 전체 크기에 포함 */
  width: 600px;
  margin: 50px 0;  
}

.photo-imgandcaption {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.photo-imgandcaption img {
  max-width: 100%;          /* 이미지가 컨테이너를 넘지 않도록 설정 */
  height: auto;
}

.photo-imgandcaption p {
  margin-top: 10px;
  text-align: center;
}


.albums-scrollable {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* 최소 너비를 250px로 증가 */
  grid-gap: 40px; /* 칼럼과 행 사이의 간격 */
  padding: 10px; /* 내부 패딩 */
  margin: 0 ; /* 외부 좌우 마진 */
  max-height: 426px; /* 스크롤 영역의 최대 높이 설정 */
  overflow-y: auto; /* 세로 스크롤 활성화 */
  overflow-x: hidden; /* 세로 스크롤 활성화 */

       /* 스크롤 바 디자인 추가 */
       ::-webkit-scrollbar {
        width: 6px; /* 스크롤 바의 너비 조절 */
    }
    ::-webkit-scrollbar-track {
        background: #f1f1f1; /* 스크롤 바 트랙의 색상 */
    }
    ::-webkit-scrollbar-thumb {
        background-color: darkgrey; /* 스크롤 바 썸의 색상 */
        border-radius: 3px; /* 썸의 모서리를 둥글게 */
    }
    ::-webkit-scrollbar-thumb:hover {
        background-color: #b0b0b0; /* 썸 호버 시 색상 변경 */
    }


}




