.quiz-select-box {
  width: 246.33px;
  height: 264.33px;
  background-color: #ffefcc;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffbf33;
  font-size: 56px;
  font-family: 'ONE-Mobile-POP';
}

.callmyname-select-box {
  width: 426.5px;
  height: 426.5px;
  background-color: #ded0f3;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9f6ad5;
  font-size: 56px;
  font-family: 'ONE-Mobile-POP';
}

/* 게임 버튼 스타일 */
.game-btn-common {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'ONE Mobile POP';
  font-size: 2rem;
  color: white;
  padding: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

/* 가족 퀴즈 노랑 */
.game-btn-quiz-y {
  border-radius: 100rem;
  background: #ffbf33;
}

/* 가족 퀴즈 회색 */
.game-btn-quiz-g {
  border-radius: 100rem;
  background: #777777;
}

/* 콜마넴 긍정 */
.game-btn-callmyname {
  background: #9f6ad5;
}
