.quiz-select-box {
  width: 246.33px;
  height: 264.33px;
  background-color: #ffefcc;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffbf33;
  font-size: 56px;
  font-family: 'ONE-Mobile-POP';
}

.callmyname-select-box {
  width: 426.5px;
  height: 426.5px;
  background-color: #ded0f3;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9f6ad5;
  font-size: 56px;
  font-family: 'ONE-Mobile-POP';
}

/* 게임 버튼 스타일 */
.game-btn-common {
  font-family: 'ONE Mobile POP';
  font-size: 2rem;
  color: white;
}

/* 가족 퀴즈 긍정 */
.game-btn-quiz {
  rounded: full;
  background: #ffbf33;
}

/* 콜마넴 긍정 */
.game-btn-callmyname {
  background: #9f6ad5;
}
