.quiz-select-box {
  width: 246.33px;
  height: 264.33px;
  background-color: #ffefcc;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffbf33;
  font-size: 56px;
  font-family: 'ONE-Mobile-POP';
}

.callmyname-select-box {
  width: 426.5px;
  height: 426.5px;
  background-color: #ded0f3;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9f6ad5;
  font-size: 56px;
  font-family: 'ONE-Mobile-POP';
}

/* 게임 폰트 */
.game-font {
  text-align: center;
  font-family: 'ONE-Mobile-POP';
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-shadow: 1px 1px 0 #222, -1px 1px 0 #222, 1px -1px 0 #222,
    -1px -1px 0 #222, 1px 0 0 #222, -1px 0 0 #222, 0 1px 0 #222, 0 -1px 0 #222,
    2px 2px 0 #222, -2px 2px 0 #222, 2px -2px 0 #222, -2px -2px 0 #222,
    2px 0 0 #222, -2px 0 0 #222, 0 2px 0 #222, 0 -2px 0 #222, 3px 3px 0 #222,
    -3px 3px 0 #222, 3px -3px 0 #222, -3px -3px 0 #222, 3px 0 0 #222,
    -3px 0 0 #222, 0 3px 0 #222, 0 -3px 0 #222;
}

.quiz-font-color {
  color: #ffbf33;
}

.callmyname-font-color {
  color: #9f6ad5;
}

/* 게임 버튼 스타일 */
.game-btn-common {
  display: flex;
  width: auto;
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-family: 'ONE-Mobile-POP';
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

/* 퀴즈 노랑 */
.game-btn-quiz {
  border-radius: 100rem;
  background: #ffbf33;
}

/* 콜마넴 보라 */
.game-btn-callmyname {
  border-radius: 100rem;
  background: #9f6ad5;
}

/* 게임 회색 */
.game-btn-g {
  border-radius: 100rem;
  background: #777777;
}
