.session-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.stream-container {
  position: relative;
  padding-top: 56.25%;
  background-color: black;
  border-radius: 30px;
}

.stream-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.name-tag {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  border-radius: 5px;
}
