@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 246, 252, 255;
  /* --background-end-rgb: 0, 0, 255; */
}

/* 다크모드 비활성화 */
/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  /* color: rgb(var(--foreground-rgb)); */
  background: linear-gradient(
      to bottom,
      transparent 10%,
      rgb(var(--background-end-rgb)) 35%
    )
    rgb(var(--background-start-rgb));
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 1rem 5rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/*
 * tailwind가 길어진다면 직접 커스텀해서 사용 가능하다.
 */
@layer components {
  .flexcenter-row {
    @apply flex justify-center;
  }
}
