/* 성장일지들 전체 이하 박스*/
.lists-container-growth{
    
    /* flex-wrap: wrap;           
    justify-content: center;    */
    
    height: 510px;        
    margin-top: 10px;
   
  
    overflow-y: hidden;         
    overflow-x: hidden;      
  
    width: 100%;              

    margin: 0px 0px 0px 0px;


}



.growth-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr)); 
    gap: 10px; /* 그리드 항목 간의 간격 */
    padding: 4px;  

    width: 100%;
    height: 450px;
    margin-top: 1px;

}

.growth-page-box{
    width: 100%;
    height: 36px;
    margin-top: 24px;
    display: flex;
    justify-content: center;
}









.diary-item-link {
    text-decoration: none; /* 링크의 밑줄 제거 */
    color: inherit; /* 링크 색상을 상속받음 */
}






/* 다이어리 아이템*/

.diary-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* 각 항목의 최소 너비를 250px, 가능한 많이 채워지도록 설정 */
    gap: 20px; /* 그리드 항목 간의 간격 */
    padding: 20px; /* 그리드 패딩 */
  
}

.growth-item {
    border: 1px solid #ccc; /* 테두리 설정 */

    border-radius: 8px; /* 모서리 둥글게 */

    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* 그림자 효과 */
    transition: transform 0.1s; /* 호버 시 애니메이션 효과 */
    font-family: 'Ownglyph_ryuttung-Rg', sans-serif;
    font-size: 19px;
    text-align: center;
    border: 4px solid #73E952;
}




.growth-item img{
    width: 100%; /* 이미지 너비를 부모 컨테이너에 맞춤 */
    height: 150px; /* 이미지 높이 고정 */
    object-fit: contain; /*비율 유지*/

    margin-top: 5px;
    margin-bottom: 5px;
    border: 2px solid rgb(207, 205, 205);
}

.growth-item:hover {
    transform: scale(1.01); /* 호버 시 아이템 확대 */
}
