.album-container {
    position: relative;
    padding-top: 150px; /* 상단 고정 영역만큼의 패딩 */
}


.albums-scrollable {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* 최소 너비를 250px로 증가 */
    grid-gap: 40px; /* 칼럼과 행 사이의 간격 */
    padding: 10px; /* 내부 패딩 */
    margin: 0 10px; /* 외부 좌우 마진 */
    max-height: 426px; /* 스크롤 영역의 최대 높이 설정 */
    overflow-y: auto; /* 세로 스크롤 활성화 */
    overflow-x: hidden; /* 세로 스크롤 활성화 */

}